spring:
  datasource:
    url: jdbc:postgresql://192.168.1.4:5432/testdb
    username: testuser
    password: testpass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
